body{
  background-color: antiquewhite;
}
.App{
  flex-direction: column;
}
.App-header{
  text-align: center;
  background-color:bisque;
  margin: 10px;
  font-size: 24px;
  color: indianred;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 10px;
}
.main-div{
  display: flex;
}
.sidebar-div{
  display: flex;
}
.rapor-div{
  display: flex;
  flex-direction: row;
}
.laboCreate{
  margin: 20px;
  margin-top: 5px;
  color: indianred;
  width: 220px;
}
.rapor-update{
  width: 100%;
}
.labo-update{
  margin: 0px;
  width: 100%;
}
.labForm{
  display: flex;
  flex-direction: column;
}
.title-labo{
  font-size: 15px;
  color: indianred
}
.labo-label{
  margin: 5px 0px;
}
.labo-input{
  padding: 5px;
  border: 1px solid burlywood;
  border-radius: 5px;
}
.input-file{
  width: 100%;
  height: 150px;
  margin-top: 10px;
}
.labo-button{
  margin: 10px 0px;
  border: 1px solid burlywood;
  background-color: salmon;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  display: flex;
}
.update-button{
  background-color: rgb(238, 135, 60);
  cursor: pointer;

}
.laborant-list{ 
  width: 220px;
  justify-content: left;
}
.rapor-list{
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
  flex-direction: row;
  align-content: flex-start;
}
.labo-show{
  padding: 10px;
  border: 1px solid brown;
  border-radius: 5px;
  margin: 20px;
  color: indianred;
}
.hasta-show{
  padding: 10px;
  border: 1px solid brown;
  border-radius: 5px;
  margin: 10px; 
  color: indianred;

}
.labo-edit{
  padding: 10px;
  border: 1px solid brown;
  border-radius: 5px;
  margin: 20px;
  color: indianred;
}
.button-sil{
  padding: 5px;
  font-size: 15px;
  width: 60px;
  border: none;
  border-radius: 10px;
  background-color: rgb(231, 67, 67);
  color: white;
  margin-right: 10px;
  cursor: pointer;
}
.button-guncelle{
  padding: 5px;
  font-size: 15px;
  width: 80px;
  border: none;
  border-radius: 10px;
  background-color: rgb(179, 67, 231);
  color: white;
  cursor: pointer;
}
.title{
  color: indianred;
  margin-top: 5px;
  margin-bottom: 6px;
}
.isim-show{
  margin-top: 5px;
  margin-bottom: 6px;
}
.search-input{
  padding: 5px;
  border: 1px solid burlywood;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 5px;
  width: 120px;
}
.search-button{
  margin-bottom: 2px;
  width: 100px;
  margin-top: 2px;
  border-radius: 5px;
  background-color: salmon;
}
.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 6px;
  height: 6px;
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.alert {
  padding: 10px;
  background-color: bisque;
  color: indianred;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.hata-mesaj{
    font-size: x-small;
    margin-top: 5px;
    color: brown;
}
